*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nunito";
}

header nav{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.174);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 200;
    background-color: #ffffff;
    padding: 0px 10%;
}
header nav .menu{
    width: 20px;
    display: none;
}

h1{
     font-family: "Nunito", sans-serif;
     font-size: 100px;
     color: #ffffff;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    display: flex;
    flex-direction: row;
}

nav img{
    width: 100px;
}

nav ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #2F2F2F;
}

.servicos .size-6{
    width: 20px;
    margin-left: 5px;
    transition: transform 0.4s ease;
}

 .servicos .activo.size-6{
    transform: rotate(-180deg);
}
 
.servicos{
    position: relative;
    cursor: pointer;
}

.serviSide{
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    background-color: #fff;
    top: 50px;
    animation: topping 0.4s ease-in-out;
}

.activo.serviSide{
    display: block;
}

@keyframes topping {
    from{
        opacity: 0;
        transform: translate3d(0px, 30px, 0px);
    }

    to{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

.serviSide a:hover{
    background-color: #eee;
    width: 100%;
    transition-duration: .5s;
}


.team1{
    background-image: url('/myprojectsOnly/agenciaRH/assets/imagens/fristIMG.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.team1 .txt1{
    font-size: 18px;
    font-weight: 200;
    color: #dfdfdf;
    margin-top: 5px;
}

.botoes{
    display: flex;
}

.ctaWatsapp{
    border:2px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    background-color: transparent;
    margin-left: 20px;
}

.ctaSolicitas{
    background-color: #BF0B2C;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
}

button .size-6{
    width: 25px;
    margin-left: 15px;
}

.mulder{
    position: absolute;
    padding-bottom: 40px;
    padding-left: 10%;
    bottom: 0;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.824), transparent);
     animation: scrollar .5s ease-in-out;
    width:100%;
}

.mulder img{
    width: 50px;
}

.team1 .namo{
    background-color: #BF0B2C;
    width: 200px;
    color: white;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}


.team2{
    margin-bottom: 15%;
    padding-top: 15%;
}


.teams{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alunos{
    position: relative;
}

.short{
    position: absolute;
    left: -20%;
    bottom: -15%;
}

.team2 h2{
    color: #2F2F2F;
    font-size: 50px;
    margin-bottom: 20px ;
}

/* .team2 h2{
    font-family: "Nunito", sans-serif;
    font-size: 100px;
    color: #ffffff;
} */

.team2 p{
    font-size: 18px;
    color: #5b5b5b;
    margin-bottom: 5px;
    padding-left: 5px;
    max-width: 600px;
}

/* .team2 p{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #d0d0d0;
    max-width: 600px;
} */

.vision{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.believe{
    margin: 5% 0px;
}
.believe h2{
    color: #2F2F2F;
    font-size: 50px;
}

.believe p{
    color: #5b5b5b;
    max-width: 500px;
}

.subVision{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    height: 250px;
    width: 397px;
    margin-top: 20px;
}

.subVision  .size-6{
    width: 40px;
    margin-left: 2px;
    color: #2F2F2F;
}

.subVision a .size-6{
    width: 20px;
    margin-left: 2px;
    color: #4D0001;
}

.subVision h4{
    max-width: 400px;
    color: #323232;
    font-size: 20px;
    margin-bottom: 10px;
}

.subVision h3{
    max-width: 400px;
    color: #2F2F2F;
    font-size: 12px;
}

.subVision a{
    display: flex;
    align-items: center;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    color: #4D0001;
}

.subVision li{
    max-width: 400px;
    color: #4e4e4e;
    font-size: 15px;
    margin-top: 10px;
}

.subVision li{
    list-style: none;
}

.every{
    max-width: 1300px;
    margin: auto;
}

.team4{
    overflow: hidden;
    margin: auto;
}

.moreService{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.moreService .submore{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.moreService article{
    width: 30px;
    height: 30px;
    border: 1px solid #5b5b5b;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}
.moreService .size-6{
    width: 20px;
    color: #5b5b5b;
    margin-top: 5px;
    margin-left: 4px;
}

.team4 h2{
    color: #2F2F2F;
    font-size: 50px;
}

.team4 section{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.team4 section div{
    width: 300px;
    height: 450px;
    margin: 10px;
    background-color: #fdfdfd;
    border-radius: 20px;
    position: relative;
    border: 1px solid #ddd;
    padding: 5px;
}

.team4 img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.team4 h5{
    font-size: 20px;
    color: #2F2F2F;
    padding-left: 5px;
}

.team4 p{
    font-size: 15px;
    color: #5b5b5b;
    margin-bottom: 5px;
    padding-left: 5px;
}

.team4 span{
    font-size: 15px;
    color: #BF0B2C;
    cursor: pointer;
}

.cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth; /* anima o scroll */
}

.cards::-webkit-scrollbar {
  display: none; /* opcional: esconde scrollbar */
}


.team5{
    margin: 5% 0px;
}

.team5 .diferencias{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.diferenciasDivers{
    margin-left: 150px;
}

.diferenciasDivers p {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.diferenciasDivers p.activo {
  max-height: 500px;
  opacity: 1;
  animation: altura .5s;
}

@keyframes altura {
    from{
        opacity: 0;
        max-height: 0px;
        transform: translate3d(0px, 30px,0px);
    }

    to{
        opacity: 1;
        max-height: 500px;
        transform: translate3d(0px, 0px,0px);
    }
}

.diferenciasDivers .size-6{
    width: 20px;
    margin-left: 5px;
}

.team5 ul div{
    margin-left:50px;
    margin-bottom:50px;
}
.team5 h2{
    color: #2F2F2F;
    font-size: 50px;
    margin-bottom: 20px ;
}

.team5 dt{
    text-transform: initial;
    font-weight: 700;
    list-style: none;
    color: #2F2F2F;
    cursor: pointer;
    margin-top: 15px;
}

.team5 p{
    font-size: 15px;
    color: #5b5b5b;
    margin-bottom: 5px;
    max-width: 500px;
}

.team5 img{
    width: 300px;
    border-radius: 20px;
}

.team6 h2{
    color: #2F2F2F;
    font-size: 50px;
    margin-bottom: 20px ;
}
.team6 section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team6 form label{
    font-weight: 600;
    color: #4e4e4e;
}

.team6 form input,textarea, select{
    font-weight: 600;
    color: #4e4e4e;
    width: 500px;
    outline: none;
    border: 1px solid #a7a7a7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition-duration: .0.5s;
}

.team6 form  select:focus{
    border: 3px solid #ff65688d;
}

.team6 form textarea:focus{
    border: 3px solid #ff65688d;
}

.team6 form input:focus{
    border: 3px solid #ff65688d;
}

.team6 p{
    font-size: 15px;
    color: #5b5b5b;
    margin-bottom: 5px;
    padding-left: 5px;
    max-width: 500px;
}

.team6 h5{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.team6 .size-6{
    width: 20px;
    color: #2F2F2F;
}

.team6 button{
    border: none;
    padding: 10px 0px;
    width: 100%;
    background-color: #BF0B2C;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor:pointer;
}

/* Services style */

.teamService h2{
    color: #2F2F2F;
    font-size: 50px;
    margin-bottom: 20px ;
    margin-top: 10%;
}

.teamService img{
    width: 200px;
    object-fit: cover;
    height: 200px;
    object-position: center center;
    border-radius: 20px;
}

.breakTeam{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.breakTeam h6{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #2F2F2F;
}

.breakTeam p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #BF0B2C;
    text-transform: uppercase;
}

.scrolling{
    opacity: 0;
   
}

.activo.scrolling {
    opacity: 1;
    animation: scrollar .5s ease-in-out;
}

@keyframes scrollar {
    from{
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

footer{
    background-color: #4D0001;
    color: white;
    padding-top: 5%;
}

footer section{
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 5%;
}

footer li{
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer a{
    color: white;
    text-decoration: none;
}

.redesSocias{
    text-align: center;
}

.redesSocias a{
    padding: 0px 10px;
}

.redesSocias img{
    width: 40px;
}

.redesSocias p{
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
}

@media (max-width:767px){
    header{
        position: relative;
    }
    header ul{
        display: none;
        flex-direction: column;
        background-color: #eee;
        width: 300px;
        position: absolute;
        bottom:-255px;
        right: 0;
    }

     header ul.activo{
        display: flex;
    }

    header nav .size-6{
      display: block;
    }

    .teams{
        flex-direction: column;
        justify-content: space-between;
    }

    .teams img{
        width: 100%;
        margin-top: 20px;
    }

    .short{
        display: none;
    }

    h1 {
    font-size: 50px;
  }

  .ctaSolicitas {
    width: auto;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 11px;
}

.ctaWatsapp {
    width: auto;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 11px;
}
.mulder {
    padding-left: 4%;
    padding-right: 4%;
}
.every{
    margin: 0px 4%;
}

.every h2{
    font-size: 30px;
}

.team5 .diferencias{
    flex-direction: column;
    justify-content: start;
}

.team5 ul{
    padding-inline-start: 0px;
    margin-block-start: 0em;
    text-align:start ;
}
.team5 img{
    width: 100%;
    margin-bottom: 30px;
}


.team5 p{
    padding-left: 0px;
}

.team6 section{
    flex-direction: column;
}

.team6 form input,textarea, select{
    width: 100%;
}

form button{
    margin-bottom: 30px;
}

.serviSide{
    position: static;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}
}