*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header nav{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.174);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
     font-family: "Nunito", sans-serif;
     font-size: 100px;
     color: #2F2F2F;
}

nav ul li{
    display: inline;
}

.team1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

.team1 .txt1{
    font-size: 18px;
    font-weight: 200;
    color: #2A2A2A;
    margin-top: 5px;
}

.team1 button{
    background-color: #4D0001;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin-top: 30px;
}

.team1 button .size-6{
    width: 30px;
}

.mulder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.mulder img{
    width: 50px;
}

.team1 .namo{
    background-color: #BF0B2C;
    width: 200px;
    color: white;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

.classMate{
    position: relative;
}

.testemunhal{
    backdrop-filter: blur(30px);
    background-color: #2a2a2a4e;
    padding: 15px;
    width: 300px;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    left: -100px;
}

.team2{
    background-color: #4D0001;
    height: 70vh;
    padding: 5em 0px;
}
.team2 h2{
    font-family: "Nunito", sans-serif;
    font-size: 100px;
    color: #ffffff;
}

.team2 p{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #d0d0d0;
    max-width: 600px;
}


.teams{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.alunos{
    position: relative;
}

.short{
    position: absolute;
    left: -20%;
    bottom: -15%;
}
.txt2 img{
    width:70px;
    margin-top: 50px;
}

.team3{
    background-image: url('/assets/imagens/team.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.team3 div{
    position: absolute;
    background-image: linear-gradient(to top, black, transparent);
    bottom: 0px;
    padding-bottom: 2%;
    width: 100%;
}

.team3 h2{
    font-family: "Nunito", sans-serif;
    font-size: 100px;
    color: #ffffff;
    margin-left: 5%;
}

.team3 p{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #d0d0d0;
    max-width: 800px;
     margin-left: 5%;
}

.team4 div{
    background-color: #eee;
    max-width: 80%;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
}

.team4 h3{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
     color: #2F2F2F;
}

.team4 li{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #2F2F2F;
}

.pyps ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.pyps ul li{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.breakDown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.team5 h2{
     font-family: "Nunito", sans-serif;
     font-size: 100px;
     color: #2F2F2F;
}

.team5 .breakDown div{
    background-color: #eee;
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding: 20px;
}

.team5 h3{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #2F2F2F;
}

.team5 p{
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #494949;
}